.bundle
db/*.sqlite3
config/database.yml
log/*.log
tmp/
.sass-cache/
.rvmrc
.DS_STORE
test/
public/assets
public/system
.metadata/
Vagrantfile
.vagrant
/config/database.yml
/db/files/video2.mp4
.pydevproject
ToHaml.rb
