<p id="notice"><%= notice %></p>

<h1><%= best_in_place @section, :name, :type => :input %></h1>

<p>
  <b>所属章节:</b>
  <%= link_to @section.lesson.name, lesson_path(@section.lesson) %>
</p>

<p>
  <b>章节重点笔记:</b>
  <%= best_in_place @section, :description, :type => :textarea %>
</p>



<br/>
<br/>
<br/>
