.page-header
  %h1
    所有科目纵览

= link_to_add '创建科目', new_subject_path
= link_to_back "科目列表", subjects_path

-Subject.all.each do |subject|
  -@subject = subject  
  =render 'overview_subject'

