.page-header
  %h1
    科目总揽
    %small 所有科目

= link_to_add '创建科目', new_subject_path
%br/
%br/

%table.table.table-striped
  %tr
    %th 名称
    %th
  - @subjects.each do |s|
    - next if s.destroyed?
    %tr
      %td= link_to s.name, s
      %td
        = link_to_check "总体结构", :controller => "subjects", :action => "overview", :id => s
