<h1>所有科目</h1>

<table>
  <tr>
    <th>名称</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= best_in_place subject, :name, :type => :input %></td>
    <td><%= link_to '进入', subject %></td>
    <td><%= link_to '删除', subject, confirm: '确定删除此科目吗？', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '创建新科目', new_subject_path %>
